body {
    background-color: white;
    border-bottom: 5px solid black;
    margin: 3%;
}

h2 {
    font-size: 10;
}

#cv {
    font-size: medium;
    text-align: center;
    position: relative;
}

#haut {
    width: auto ;
    border-bottom: 5px solid black;
}

#nom{
    font-size: 80px;
    text-align: left;
    margin-bottom: 18px;
    margin-top: 18px;
}

#num {
    font-weight: bolder;
}

#iconmail {
    width: 40px;
    margin-bottom: -24px;
}

#tellid{
    width: 40px;
    margin-bottom: -12px;
}

#email {
    color: black;
    padding-bottom: 5px;
}

#prez {
    font-weight: bolder;
    padding-bottom: 5px;
    margin-top: 20px;
    color: rgb(41, 36, 36);
}

#ul {   
    display: inline-block;
    border-left: 2px double grey;
}

/* Flex  ?*/

#page{
    display: flex ;
    justify-content: space-evenly ;
}
