body {
    background-color: white;
    border-bottom: 5px solid black;
    margin: 3%;
}

h2 {
    font-size:200%;
    font-family: monospace;
    margin-bottom: -2px;
    margin-top:10px;
}

#cv {
    font-size: medium;
    text-align: center;
    position: relative;
}

#haut {
    width: auto ;
    border-bottom: 5px solid black;
}

#nom{
    font-size: 80px;
    text-align: left;
    margin-bottom: 18px;
    margin-top: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#num {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

#iconmail {
    width: 40px;
    margin-bottom: -24px;
}

#tellid{
    width: 40px;
    margin-bottom: -12px;
}

#email {
    color: black;
    padding-bottom: 5px;
}

#prez {
    font-weight: bolder;
    padding-bottom: 5px;
    margin-top: 20px;
    color: rgb(41, 36, 36);
    font-family: monospace;
    font-size: 150%;
}

li {
    color: rgb(25, 32, 23);
    font-weight: bolder;
    font-family: Arial, Helvetica;
    font-size: 98%;
}

#ul {   
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-left: 2px double grey;
}

/* Flex  ?*/

#page{
    display: flex ;
    justify-content: space-around ;
}
